<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.hokaccha.gh-repo</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5A1F0E10-0001-4000-8000-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A1F0E10-0002-4000-8000-000000000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hokaccha</string>
	<key>description</key>
	<string>Filter repositories of an org/user and open them in the browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gh repo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5A1F0E10-0002-4000-8000-000000000002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching repositories...</string>
				<key>script</key>
				<string>./gh-repo.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Filter and open repositories of the org</string>
				<key>title</key>
				<string>gh repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5A1F0E10-0001-4000-8000-000000000001</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Filter the repositories of a GitHub org/user in Alfred and open the selected one in the browser.

Run `gh auth login` beforehand.
Set the target org(s)/user(s) in the ORG workflow environment variable to enable it.
Multiple orgs can be given separated by spaces or commas (e.g. "my-org another-org").</string>
	<key>uidata</key>
	<dict>
		<key>5A1F0E10-0001-4000-8000-000000000001</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>5A1F0E10-0002-4000-8000-000000000002</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ORG</key>
		<string></string>
		<key>CACHE_TTL</key>
		<string>3600</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
